server:
  port: 8081
  servlet:
    context-path: /
spring:
  application:
    name: CoreEngine
  data:
    elasticsearch:
      repositories:
        enabled: true
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: update
  main:
    allow-bean-definition-overriding: true

info:
  # static properties
  app:
    name: ${spring.application.name}
    description: --

logging:
  level:
    root: info
